In [2]:
import pandas as pd
import numpy as np

In [3]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/bank

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [32]:
%%sql
show databases;

 * mysql+mysqlconnector://root:***@localhost/bank
10 rows affected.

[('bank',),
 ('chatbot_db',),
 ('classicmodels',),
 ('food_orders',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',),
 ('world',)]

In [19]:
%%sql
use bank;

 * mysql+mysqlconnector://root:***@localhost/bank
0 rows affected.

[]

In [20]:
%%sql
show tables;

 * mysql+mysqlconnector://root:***@localhost/bank
5 rows affected.

[('country_state',),
 ('customer_income_status',),
 ('customer_info',),
 ('loan_status',),
 ('region_info',)]

In [35]:
import pandas as pd
from sqlalchemy import create_engine

# Define the SQLAlchemy engine (replace with your actual database connection string)
engine = create_engine('mysql+pymysql://root:root@localhost/bank')

# Read the SQL table into a pandas DataFrame
df1 = pd.read_sql('SELECT * FROM country_state', engine)

# Display the first few rows of the DataFrame
df1.head()

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [ ]:
df1 = pd.read_sql_table('country_state', engine)
df1.head()

C:\Users\aswin\AppData\Local\Temp\ipykernel_20468\1775628291.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_table('country_state', engine)

AttributeError: 'OptionEngine' object has no attribute 'cursor'